absl-py==1.4.0
accelerate==0.23.0
aiohttp==3.8.5
aiosignal==1.3.1
antlr4-python3-runtime==4.8
apache-beam==2.50.0
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
bitarray==2.8.1
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.2.0
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
contourpy==1.1.1
crcmod==1.7
cycler==0.12.1
Cython==3.0.2
datasets==2.14.5
decorator==5.1.1
dill==0.3.7
dnspython==2.4.2
docker-pycreds==0.4.0
docopt==0.6.2
entmax==1.1
-e git+https://github.com/huggingface/evaluate.git@344b8b45be3a5eb927bef6d897da876ba9b2f228#egg=evaluate
fairseq==0.12.2
faiss-gpu==1.7.2
fastavro==1.8.3
fasteners==0.18
filelock==3.12.3
fonttools==4.43.1
frozenlist==1.4.0
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.35
googletrans==3.1.0a0
grpcio==1.58.0
h11==0.9.0
h2==3.2.0
hdfs==2.7.2
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httplib2==0.22.0
httpx==0.13.3
huggingface-hub @ git+https://github.com/huggingface/huggingface_hub@a48eb89d4186bc84bca67b117cf29a0ee0b69774
hydra-core==1.0.7
hyperframe==5.2.0
idna==2.10
jiwer==3.0.3
joblib @ file:///croot/joblib_1685113087166/work
jsonargparse==3.13.1
kiwisolver==1.4.5
lang2vec==1.1.6
lazy_loader==0.3
librosa==0.10.1
lightgbm==3.3.0
lightning-utilities==0.9.0
llvmlite==0.41.1
lxml==4.9.3
matplotlib==3.8.0
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
msgpack==1.0.7
mt-metrics-eval @ file:///projects/tir5/users/vbanniha/mnlp-assn1-f23/SEScore2/mt-metrics-eval
multidict==6.0.4
multiprocess==0.70.15
numba==0.58.1
numpy==1.26.1
nvidia-ml-py==12.535.108
nvitop==1.3.0
objsize==0.6.1
omegaconf==2.0.6
orjson==3.9.7
packaging==23.1
pandas==2.1.0
pathtools==0.1.2
Pillow==10.0.0
platformdirs==3.11.0
pooch==1.8.0
portalocker==2.7.0
proto-plus==1.22.3
protobuf==3.20.3
psutil==5.9.5
pyarrow==11.0.0
pycparser==2.21
pyDeprecate==0.3.2
pydot==1.4.2
pymongo==4.5.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-snappy==0.6.1
pytorch-lightning==1.9.5
pytz==2023.3.post1
PyYAML==6.0.1
rapidfuzz==3.4.0
regex==2023.8.8
requests==2.31.0
responses==0.18.0
rfc3986==1.5.0
sacrebleu==2.3.1
sacremoses==0.0.53
safetensors==0.3.3
scikit-learn @ file:///croot/scikit-learn_1675444908879/work
scipy==1.11.2
sentencepiece==0.1.99
sentry-sdk==1.30.0
setproctitle==1.3.2
six==1.16.0
sklearn==0.0.post9
smmap==5.0.0
sniffio==1.3.0
soundfile==0.12.1
soxr==0.3.7
tabulate==0.9.0
termcolor==2.3.0
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tokenizers==0.14.1
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchmetrics==0.8.2
torchvision==0.13.1+cu113
tqdm==4.66.1
transformers @ git+https://github.com/huggingface/transformers.git@9e87618f2be1401df55c36ad726629ae201e8e4d
typing_extensions==4.7.1
tzdata==2023.3
unbabel-comet==2.0.2
urllib3==2.0.4
wandb==0.15.10
xxhash==3.3.0
yarl==1.9.2
zstandard==0.21.0
